body {
            background-image: url('purple.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            position: relative;
            overflow-x: hidden;
            z-index: 1;
            font-family: 'Press Start 2P', monospace;
            font-size: 15px;
            margin: 0;
            padding: 0;
            color: #fff;
            text-align: center;
            animation : fadeIn 1s ease-in-out;
            -webkit-animation: fadeIn 1s ease-in-out;
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @-webkit-keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @keyframes bounce{
            0% { transform: scale(0.8); opacity: 0; }
            50% { transform: scale(1.1); opacity: 1; }
            100% { transform: scale(1); }
        }
        .container{/* Darker blue */
            border-radius: 20px;
            max-width: 980px;
            margin: auto;
            padding: 10px 10px;
            text-align: left;
            /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);*/
            transition: transform 0.3s, box-shadow 0.3s; 
    
        } 
        b {
            margin-top: 5px;
            color: #FE019A;
            line-height: 1.5;
        }
        .d{
            color: rgba(255, 255, 255, 0.7);
        }
        strong{
            margin-top: 5px;
            color: #B026FF;
            line-height: 1.5;
}
        .profile-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 20px;
        }
        .inline-link{
            font-size: 12px;
            display: inline-link;
            text-decoration: none;
            font-weight: bold;
            transition : background 0.3s, color 0.3s, font-style 0.3s;
            font-style: normal;
            font-family: "Press Start 2P";

        }
        .inline-link:hover {
            color: White;
            font-family: "Press Start 2P";
            font-style: italic;
            transform : scale(1.2);
            transition: transform 0.3s;
            text-decoration: underline;
            }
            @keyframes pulse {
            from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            
            75% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
            }
            
            to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            }
            .animate__pulse {
            -webkit-animation-name: pulse;
            animation-name: pulse;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            animation-duration: timeInSecs;
            -webkit-animation-duration: timeInSecs;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            }
        .btn {
            background:#8A2BE2; /* Bright Purple */
            color: white;
            padding: 10px 8px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            margin: 7px;
        }
        .btn:hover {
            background:#cccccc;
            color: black;
            font-style: bold;
            transform : scale(1.05);
            transition: transform 0.3s;
            scale: 1.5;
             /* animation: @-webkit-keyframes pulse {
            from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            
            50% {  */
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
            }
            
            to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            @keyframes pulse {
            from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            
            50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
            }
            
            to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            }
            .animate__pulse {
            -webkit-animation-name: pulse;
            animation-name: pulse;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            animation-duration: timeInSecs;
            -webkit-animation-duration: timeInSecs;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            }
        .GOLD {
            color: #FFD700; /* Gold color */ /* Gold color */
          
        }
        .SILVER {
            color: #C0C0C0; /* Silver color */
          
        }
        .BRONZE {
            color: #CD7F32; /* Bronze color */
        }
        .Finalist{
            color: #FF6961;
        }
        h1, h2, h3 {
            margin-top: 5px;
            color: #FFD700;
            font-family: 'Press Start 2P';
        }
        h1{
            font-size: 40px;
        }
        h4{
            font-size: 18px;
            margin-left: 5px;
        }
        &rarr;{
            font-size: 12px;
        }
h5{
font-size: 12px;
color: #2323FF;
font-style: bold;
}
h6{
font-size: 12px;
color: #39FF14;
font-style: bold;
}
        .participant{
            color: #FFFF00;
            font-size: 2.5;
        }
        li{
        font-family:'Press Start 2P', monospace;
font-size: 12px;
line-height: 1.8;
}
        p{
        font-family:'Press Start 2P', monospace;
        font-size: 12px;
        }
        .p {
            color: white;
            margin: 10px 0;
            font-size: 15px;
        }
        .p:hover{
            color: #EF7C00;
            transform: scale(1.2)
        }
        a{
                    color: #F5BB00;
        }
        .Achivement-image {            
            width: 50px;
            height: 50px;
            border-radius: 10%;
            margin-top: 0px;
        }
        .achivement-image {
            width: 300px;
            height: 25px;
            background-color: #aaaaaa;
            image-rendering: pixelated;
            margin: 0px;
        }
        .medal-image{
            width: 140px;
            height: 140px;
            image-rendering: pixelated;
            border-image-slice: 1;
            
        }
        .achievements-section {
            background-color:rgba(0, 0, 0, 0.7);
            item-align: center;
            border: 4px solid #aaaaaa;
            image-rendering: pixelated;
            padding: 20px;
            border-radius: 20px;
            margin-top: 20px;
            animation: fadeIn 1.5s ease-in-out;
            line-height: 1.5;
            border-image-slice: 1;
            margin-bottom: 25px;
            color: #fff;
          }
        .achievement-icon{
            opacity: 0;
            letter-spacing: -2px;
            animation: classyFade 1.5s ease-out forwards;
}
        .wizard{
             width: 100px;
            height: 100px;
            border-radius: 0%;
            margin-top: 0px;
        }
        .Spell-block{
            background-color:#8A2BE2;
            background-size: contain;
            margin-right: 5px;
            item-align: center;
            border: 4px solid #aaaaaa;
            image-rendering: pixelated;
            padding: 5px;
            border-radius: 20px;
            margin-top: 10px;
            animation: fadeIn 1.5s ease-in-out;
            line-height: 1.5;
            border-image-slice: 1;
            margin-bottom: 10px;
            color: #fff;
            display: grid;
            gap: 5px;
        }

@keyframes classyFade {
    0% { opacity: 0; letter-spacing: -2px; }
    100% { opacity: 1; letter-spacing: 1px; }

            
        }
        .Division {
            display: flex;
            flex: 1;
            padding: 10px;
        }
        .centerize{
            text-align: center;
        }
        @media (max-width: 768px) {
    .Division {
        flex-direction: column;
        text-align: center;
    }
    .profile-container {
    display: flex; 
    align-items: center; /* Aligns items vertically */
    gap: 20px; /* Adds space between image and text */
}

.profile-pic {
    width: 250px; /* Adjust size as needed */
    height: 400px;
    border-radius: 10%; /* Makes the image circular */
    object-fit:cover; /* Ensures proper image scaling */
}

.profile-data {
    flex: 1; /* Allows text to take remaining space */
}
    .center{
        text-align: center;
        align-items: center;
    .profile-img {
        width: 100px;
        height: 100px;
    }
    @font-face {
      font-family: 'Press Start 2P';
    }
    
    .pixel-text {
      font-family: 'Press Start 2P', monospace;
    }
